---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import MainLayout from "../layouts/MainLayout.astro";
import H1 from "../components/H1.astro";
import snowyMountainsBackgroundImage from "../assets/images/snowy-mountains-bg.jpg";
import ExperienceItem from "../components/ExperienceItem.astro";

const experiences = await getCollection("experience");

const orderedExperiences = [...experiences].sort((a, b) =>
  a.data.startDate > b.data.startDate ? -1 : 1,
);
---

<MainLayout title="Experience | Halvor Teigen">
  <section>
    <Image
      src={snowyMountainsBackgroundImage}
      alt=""
      class="fixed -z-10 top-0 align-top opacity-20 w-full h-full object-cover"
    />
    <main class="m-auto p-4 max-w-3xl text-white">
      <H1 preText="My " gradientText="experience" />
      <div>
        <span class="absolute mt-3 left-1/2 bg-orange-500 w-0.5 h-[750px]"></span>
        {
          orderedExperiences.map((experience, index) => {
            const {
              startDate,
              endDate,
              heading,
              subHeading,
              description,
              tags,
            } = experience.data;
            return (
              <div
                class={`w-full flex ${
                  index % 2 === 0 ? "justify-end" : "justify-start"
                }`}
              >
                <ExperienceItem
                  {startDate}
                  {endDate}
                  {heading}
                  {subHeading}
                  {description}
                  {tags}
                  align={index % 2 === 0 ? "left" : "right"}
                />
              </div>
            );
          })
        }
      </div>
    </main>
  </section>
</MainLayout>
