---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";

type ImageType = {
  src: string;
  width: number;
  height: number;
  format: "svg" | "png" | "jpg" | "jpeg" | "tiff" | "webp" | "gif" | "avif";
};

interface Props {
  href: string;
  image: ImageType;
  imageAlt: string;
  title?: string;
  badgeBackgroundClass?: string;
}

const {
  href,
  image,
  imageAlt,
  title,
  badgeBackgroundClass = "bg-light",
} = Astro.props;
---

<a href={href} target="_blank">
  <div
    class="inline-flex flex-col items-center justify-center text-center leading-5 text-light"
  >
    <div class="relative">
      <div
        class=`${badgeBackgroundClass} w-24 aspect-square m-1 rounded-full overflow-hidden inline-flex items-center justify-center`
      >
        <Image src={image} alt={imageAlt} />
      </div>
      <Icon name="bi:box-arrow-up-right" class="absolute right-1 top-0 text-light-accent" />
    </div>
    <small>{title}</small>
  </div>
</a>
