---
import { getImage } from "astro:assets";
import ogImage from "../assets/images/og-image.jpg";

interface Props {
  title: string;
}
const { title } = Astro.props;
const description = "Halvor Teigens Resume Website";

const optimizedOgImage = await getImage({
  src: ogImage,
});
---

<head>
  <!-- Google tag (gtag.js) -->
  <script is:inline>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }

    // global function so that it can be called from anywhere
    // Updates consent for GA4 to granted if called
    window.consentGranted = function () {
      console.log("consent granted");
      gtag("consent", "update", {
        ad_storage: "granted",
        analytics_storage: "granted",
        functionality_storage: "granted",
        personalization_storage: "granted",
        security_storage: "granted",
      });
    };

    // Returns value of a cookie named 'cookie-consent'
    // Should be either "granted" or "denied"
    window.getCookieConsent = function () {
      try {
        const consent = document.cookie.match(/cookie-consent=([^;]+)/)[1];
        return consent;
      } catch (error) {
        return "unk";
      }
    };

    if (window.getCookieConsent() == "granted") {
      // If cookies already approved, set that
      console.log("default set to granted");
      gtag("consent", "default", {
        ad_storage: "granted",
        analytics_storage: "granted",
        functionality_storage: "granted",
        personalization_storage: "granted",
        security_storage: "granted",
      });
    } else {
      // default all to 'denied'.
      console.log("default set to denied");
      gtag("consent", "default", {
        ad_storage: "denied",
        analytics_storage: "denied",
        functionality_storage: "denied",
        personalization_storage: "denied",
        security_storage: "denied",
      });
    }
  </script>

  <!-- Google Tag Manager -->
  <script is:inline>
    (function (w, d, s, l, i) {
      console.log("GTM");
      w[l] = w[l] || [];
      w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
      var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s),
        dl = l != "dataLayer" ? "&l=" + l : "";
      j.async = true;
      j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
      f.parentNode.insertBefore(j, f);
    })(window, document, "script", "dataLayer", "GTM-5QF23X8M");
  </script>
  <!-- End Google Tag Manager -->

  <!-- HTML Meta Tags -->
  <meta charset="UTF-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0, viewport-fit=cover"
  />
  <title>{title}</title>
  <meta name="description" content={description} />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="generator" content={Astro.generator} />
  <link rel="sitemap" href="/sitemap-index.xml" />

  <!-- Facebook Meta Tags -->
  <meta property="og:url" content={import.meta.env.SITE} />
  <meta property="og:type" content="website" />
  <meta property="og:title" content={title} />
  <meta property="og:description" content={description} />
  <meta property="og:image" content={optimizedOgImage.src} />

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content={import.meta.env.SITE} />
  <meta name="twitter:title" content={title} />
  <meta name="twitter:description" content={description} />
  <meta name="twitter:image" content={optimizedOgImage.src} />
</head>
