---
import TagTile from "./TagTile.astro";
interface Props {
  startDate: Date;
  endDate?: Date;
  heading: string;
  subHeading: string;
  description: string;
  tags?: string[];
  align?: "left" | "right";
  classes?: string;
}

const {
  startDate,
  endDate,
  heading,
  subHeading,
  description,
  tags,
  align = "left",
  classes,
} = Astro.props;
---

<div
  class={`mb-10 ${align === "left" ? "text-left" : "text-right"}  ${classes}`}
>
  <p class="text-primary text-lg font-bold leading-6">
    {startDate.getFullYear()}-{endDate?.getFullYear()}
  </p>
  <h3 class="text-light mb-3 text-2xl font-light">{heading}</h3>
  <h4 class="text-light text-lg font-medium">{subHeading}</h4>
  <p class="text-secondary text-base">
    {description}
  </p>
  {
    tags && (
      <div
        class={`mt-2 inline-flex flex-wrap items-center gap-1 ${
          align === "left" ? "justify-start" : "justify-end"
        }`}
      >
        {tags?.map((tag) => (
          <TagTile text={tag} />
        ))}
      </div>
    )
  }
</div>
